{include file="public/header" title="支付,提交订单" body=""/}
{include file="public/header_nav" title="支付,提交订单" href="javascript:history.back(-1)"/}

<style type="text/css">
    
        .pay-list-4 .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid rgba(0,0,0,0.1);
            margin-top: 10px;
            padding: 0.5rem;
            font-size: 0.8rem;
        }
        .pay-list-4 .item  div {
            display: flex;
            align-items: center;
        }
        .pay-list-4 .item  div img {
            border: 1px solid rgba(0,0,0,0.1);
            margin-right: 10px;
            border-radius: 5px;
            padding: 5px;
            width: 2rem;
            height: 2rem;
        }
        .pay-list-4 i.icon {
            display: block;
            width: 0.8rem;
            height: 0.8rem;
            background-image: url('application/mobile/view/static/image/aa.png');
            background-size: contain;
        }
        .pay-list-4 i.active {
            background-image: url('application/mobile/view/static/image/ac.png');
        }
</style>
<form action="{:U('Mobile/Payment/getCode')}" method="post" name="cart4_form" id="cart4_form">
    <div class="ddmoney">
        <div class="maleri30">
            <span class="fl">订单号</span>
            <span class="fr">{$order[order_sn]}</span>
        </div>
    </div>
    <div class="ddmoney">
        <div class="maleri30">
            <span class="fl">订单金额</span>
            <span class="fr">{$order[order_amount]}元</span>
        </div>
    </div>
    <!--其他支付方式-s-->
    <div class="paylist">
        <div class="myorder debit otherpay p">
            <div class="content30">
                <a href="javascript:void(0);">
                    <div class="order">
                        <div class="fl">
                            <span>支付方式</span>
                        </div>
                        <div class="fr">
                            <!--<i class="Mright xjt"></i>-->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="pay-list-4 p">

        <div class="item wx">
            <div>
                <img src="/application/mobile/view/static/image/wx.png" alt="">
                <p>微信支付</p>
            </div>
            <i class="icon active" payMethod='weixin'></i>
        </div>
    </div>
    <!--其他支付方式-s-->

    <div class="paiton">
        <div class="maleri30">
            <input type="hidden" name="order_id" value="{$order['order_id']}" />
            <a class="soon" href="javascript:void(0);" onClick="pay()"><span>立即支付</span></a>
            <!--<p class="fr"><a href="javascript:void(0);" class="lossbq">支付失败？</a></p>-->
        </div>
    </div>



<div class="mask-filter-div" style="display: none;"></div>
</form>

<script src="/public/js/layer/layer.js"></script>
<script type="text/javascript">
    var order_sn = "{$order[order_sn]}";
    var openid = "{$openid}";
    var jsApiParameters = {};

    $(function(){
        $('.pay').click(function(){
            if($('i.icon.active').attr('payMethod') == 'weixin'){
                wxpay();
            }
            if($('i.icon.active').attr('payMethod') == 'lessoncode'){
                lessoncodepay();
            }
            
        })
    })

    function jsApiCall()
    {
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest',
            JSON.parse(jsApiParameters),
            function(res){
                if(res.err_msg == "get_brand_wcpay_request:ok" ){
                    window.location.href="{:U('mobile/lesson/detail', array('id'=>$lesson_id))}"
                } else {
                    alert('支付失败')
                }
            }
        );
    }

    function callpay()
    {
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }else{
            jsApiCall();
        }
    }

    // 微信支付
    function wxpay(){
        $.ajax({
            url: "{:url('mall/pay/unifiedOrder')}",
            type: 'post',
            dateType: 'json',
            data: {order_sn:order_sn, openid:openid},
            success:function(data){
                jsApiParameters = data;
                callpay();
            }
        })
    }
</script>
</body>
</html>
