{include file="public/header" title="填写订单" body="g4"/}
{include file="public/header_nav" title="填写订单"  href="javascript:history.back(-1)"/}
<script src="__PUBLIC__/js/md5.min.js"></script>
<style>
    div.cuptyp {
        box-sizing: content-box;
        border: 2px solid transparent;
    }

    div.checked {
        border: 2px solid #e23435;
    }

    .phoneclck {
        /*部分手机不能点击问题*/
        cursor: pointer
    }
</style>
<form name="cart2_form" id="cart2_form" method="post">
    <input type="hidden" name="coupon_id" value=""/>
    <input type="hidden" id="wap_invoice_title" name="invoice_title" value="个人">
    <input type="hidden" id="wap_taxpayer" name="taxpayer" value="">
    <!--立即购买才会用到-s-->
    <input type="hidden" name="action" value="{$Request.param.action}">
    <input type="hidden" name="goods_id" value="{$Request.param.goods_id}">
    <input type="hidden" name="item_id" value="{$Request.param.item_id}">
    <input type="hidden" name="goods_num" value="{$Request.param.goods_num}">
    <input type="hidden" name="auth_code" value="{$Think.config.AUTH_CODE}"/>
    <!--立即购买才会用到-e-->
    <div class="edit_gtfix">
        <a href="{:U('mall/User/address_list',array('source'=>'cart2','goods_id'=>$Request.param.goods_id,'goods_num'=>$Request.param.goods_num,'item_id'=>$Request.param.item_id,'action'=>$Request.param.action))}">
            {if condition="!empty($address)"}
            <div class="namephone fl">
                <div class="top">
                    <div class="le fl">{$address.consignee}</div>
                    <div class="lr fl">{$address.mobile}</div>
                </div>
                <div class="bot">
                    <i class="dwgp"></i>
                    <span>{$address.address}</span>
                </div>
                <input type="hidden" value="{$address.address_id}" name="address_id"/> <!--收货地址id-->
            </div>
            <div class="fr youjter">
                <i class="Mright"></i>
            </div>
            <div class="ttrebu">
                <img src="__STATIC__/images/tt.png"/>
            </div>
        {else/}
                <div class="namephone fl">
                    <div class="top">
                        <div class="le fl"></div>
                        <div class="lr fl">请先填写收货信息</div>
                    </div>
                    <div class="bot">
                        <i class="dwgp"></i>
                        <span></span>
                    </div>
                </div>
                <div class="fr youjter">
                    <i class="Mright"></i>
                </div>
                <div class="ttrebu">
                    <img src="__STATIC__/images/tt.png"/>
                </div>
        {/if}
        </a>
    </div>

    <!--商品信息-s-->
    <div class="ord_list fill-orderlist p">
        <div class="maleri30">
            {volist name="cartList" id="cart"}
                <div class="shopprice">
                    <div class="img_or fl"><img src="{$cart[goods_id]|goods_thum_images=100,100}"/></div>
                    <div class="fon_or fl">
                        <h2 class="similar-product-text">{$cart[goods_name]}</h2>
                        <div>{$cart[spec_key_name]}</div>
                    </div>
                    <div class="price_or fr">
                        <p class="red"><span>￥</span><span>{$cart[member_goods_price]}</span></p>
                        <p class="ligfill">x{$cart[goods_num]}</p>
                    </div>
                </div>
            {/volist}
        </div>
    </div>
    <!--商品信息-e-->




    <!--卖家留言-s-->
    <div class="customer-messa">
        <div class="maleri30">
            <p>用户备注（50字）</p>
            <textarea class="tapassa" onkeyup="checkfilltextarea('.tapassa','50')" name="user_note" maxlength="50"
                      rows="" cols="" placeholder="选填"></textarea>
            <span class="xianzd"><em id="zero">50</em>/50</span>
        </div>
    </div>
    <!--卖家留言-e-->

    <!--订单金额-s-->
    <div class="information_dr ma-to-20">
        <div class="maleri30">
            <div class="xx-list">
                <p class="p">
                    <span class="fl">商品金额：</span>
                    <span class="fr red"><span>￥</span><span>{$cartPriceInfo['total_fee']}</span>元</span>
                </p>

            </div>
        </div>
    </div>
    <!--订单金额-e-->

    <!--提交订单-s-->
    <div class="mask-filter-div" style="display: none;"></div>
    <div class="payit fillpay ma-to-200">
        <div class="fr submit_price">
            <a href="javascript:void(0)" onclick="submit_order()">提交订单</a>
        </div>
        <div class="fl">
            <p><span class="pmo">应付金额：</span>￥<span id="payables"></span><span></span></p>
        </div>
    </div>
    <!--提交订单-e-->
</form>

<script type="text/javascript">
    //支付密码
    $(document).on('blur', '#payPwd', function () {
        var payPwd = md5($("input[name='auth_code']").val() + $.trim($('#payPwd').val()));
        $('input[name="payPwd"]').val(payPwd);
    })
    $(document).ready(function () {
        //显示隐藏支付密码
        $(document).on('change', '#pay_points,#user_money', function () {
            var user_money = $.trim($('#user_money').val());
            var pay_points = $.trim($('#pay_points').val());
            if ((user_money !== '' && user_money > 0) || (pay_points !== '' || pay_points > 0)) {
                $('#paypwd_view').show();
            } else {
                $('#paypwd_view').hide();
            }
        });
        //有使用余额，积分就得用密码
        if ($('#user_money').val() > 0 || $('#pay_points').val() > 0) {
            $('#paypwd_view').show();
        }
        ajax_order_price(); // 计算订单价钱
    });

    //兑换优惠券
    function wield() {
        var couponCode = $('#couponCode').val();
        if (couponCode != '') {
            $.ajax({
                type: "POST",
                url: '/index.php?m=Home&c=Cart&a=cartCouponExchange&t=' + Math.random(),
                data: {coupon_code: couponCode},
                dataType: "json",
                success: function (data) {
                    if (data.status != 1) {
                        showErrorMsg(data.msg);
                        // 登录超时
                        if (data.status == -100) {
                            location.href = "{:U('mall/User/login')}";
                            return false;
                        }
                    } else {
                        showErrorMsg(data.msg);
                        window.location.reload();
                    }
                }
            });
        } else {
            showErrorMsg('请输入兑换码！');
        }
    }
    // 获取订单价格
    function ajax_order_price() {
        $.ajax({
            type: "POST",
            url: '/index.php?m=mall&c=Cart&a=cart3&act=order_price&t=' + Math.random(),
            data: $('#cart2_form').serialize(),
            dataType: "json",
            success: function (data) {
                if (data.status == -3 || data.status == -4) {
                    showErrorMsg(data.msg);
                    refresh_price(data);
                    $('.submit_price a').addClass("disable");
                } else if (data.status != 1) {
                    //执行有误
                    $('#coupon_div').show();
                    showErrorMsg(data.msg);
                    // 登录超时
                    if (data.status == -100) {
                        location.href = "{:U('mall/User/login')}";
                        return false;
                    }
                } else {
                    $('.submit_price a').removeClass("disable");
                    refresh_price(data);
                }

            }
        });
    }

    function refresh_price(data) {
        $("#balance").text(data.result.user_money);// 余额
        $("#pointsFee").text(data.result.integral_money);// 积分支付
        $("#order_prom_amount").text(data.result.order_prom_amount);// 订单 优惠活动
        $("#postFee").text(data.result.shipping_price); // 物流费
        if (data.result.coupon_price == null) {
            $("#couponFee").text(0);// 优惠券
        } else {
            $("#couponFee").text(data.result.coupon_price);// 优惠券
        }
        $("#payables").text(data.result.order_amount);// 应付
    }

    // 提交订单
    ajax_return_status = 1; // 标识ajax 请求是否已经回来 可以进行下一次请求
    function submit_order() {
        if ($('.submit_price a').hasClass("disable")) {
            return;
        }
        if (ajax_return_status == 0)
            return false;
        ajax_return_status = 0;
        layer.open({type: 2,content: '订单提交中'});
        $.ajax({
            type: "POST",
            url: "{:U('mall/Cart/cart3')}",//+tab,
            data: $('#cart2_form').serialize() + "&act=submit_order",// 你的formid
            dataType: "json",
            success: function (data) {
            	layer.closeAll();
                if (data.status != '1') {
                    showErrorMsg(data.msg);  //执行有误
                    // 登录超时
                    if (data.status == -100)
                        location.href = "{:U('mall/index/index')}";
                    	ajax_return_status = 1; // 上一次ajax 已经返回, 可以进行下一次 ajax请求
                    return false;
                }
                $("#postFee").text(data.result.shipping_price); // 物流费
                if (data.result.coupon_price == null) {
                    $("#couponFee").text(0);// 优惠券
                } else {
                    $("#couponFee").text(data.result.coupon_price);// 优惠券
                }
                $("#balance").text(data.result.user_money);// 余额
                $("#pointsFee").text(data.result.integral_money);// 积分支付
                $("#payables").text(data.result.order_amount);// 应付
                $("#order_prom_amount").text(data.result.order_prom_amount);// 订单 优惠活动
                showErrorMsg('订单提交成功，跳转支付页面!');
                location.href = "/index.php?m=mall&c=Cart&a=cart4&order_sn=" + data.result;
            }
        });
    }

    $(function () {
        get_invoice();
        $('.submits_de').click(function () {
            $('.mask-filter-div').hide();
            $('.losepay').hide();
        })

        //显示隐藏使用发票信息
        $('.invoiceclickin').click(function () {
            get_invoice();
            $('#invoice').toggle(300);
        })
    })

    //优惠券
    $(function () {
        $(document).on('click', '.coupon_click', function () {
            cover();
            $('.coupongg').show();
            $('html,body').addClass('ovfHiden');
            var coupon_length = {$userCouponNum['usable_num'] |default = '0'
        }
            ;
            if (coupon_length == 0) {
                $('.soldout_cp').show();
                $('.no_get_coupon').hide();
            } else {
                $('.no_get_coupon').show();
                $('.soldout_cp').hide();
            }
        })
    })

    //关闭优惠券弹窗
    function closer() {
        undercover();
        $('.newchoosecar').hide();
        $('html,body').removeClass('ovfHiden');
    }

    //选择优惠券
    function checkCoupon(obj) {
        $(obj).toggleClass('checked').siblings('.cuptyp').removeClass('checked')
        if ($(obj).hasClass('checked')) {
            var conponname = $(obj).data('conponname');
            var couponid = $(obj).data('couponid');
            $('.counpn_name').text(conponname); //优惠券名称显示出来
            $("input[name^='coupon_id']").val(couponid);  //优惠券ID写到隐藏表单
        } else {
            $("input[name^='coupon_id']").val('');  //优惠券ID写到隐藏表单
            $('.counpn_name').text('未使用');
        }
        closer();
        ajax_order_price();
    }
</script>
</body>
</html>
