<!-- 公司介绍 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$info.title}</title>
    <script src="__STATIC__/js/rem.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/public.css">
</head>
<body>
    <div class="poster" style="width:100%">
        <img style="width:100%" src="__STATIC__/image/company.jpg" alt="">
    </div>
    <div class="particular-introduce-wrap" style="margin-top:-0.2rem">
        <div class="item">
            <div class="particular-title">
                <p>COMPANY INDRODUCE</p>
                <div>
                    <img src="__STATIC__/image/course details_line@2x.png" alt="">
                    <strong>关于我们</strong>
                    <img src="__STATIC__/image/course details_line@2x.png" alt="">
                </div>
            </div>
            {$info.content}
        </div>
    </div>
</body>
</html>