<!-- 公司介绍 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$info.title}</title>
    <script src="./src/js/rem.js"></script>
    <link rel="stylesheet" href="./src/css/public.css">
    <link rel="stylesheet" href="./src/css/store.css">
</head>
<body>
    <div class="pagecontainer">
        {$info.content}
    </div>
</body>
</html>