<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商城首页</title>
    <link rel="stylesheet" href="__STATIC__/css/main.css">
    <link rel="stylesheet" href="__STATIC__/css/common.css">

</head>
<body>
    <section>
        <figure id="full_feature" class="swipslider">
            <ul class="sw-slides">
                {foreach name="bannerList" item="item"}
                <li class="sw-slide">
                    <a href="{if condition=" $item.ad_link !='' "}{$item.ad_link}{else/}javascript:;{/if}">
                        <img src="{$item.ad_code}" alt="">
                    </a>
                </li>
                {/foreach}
            </ul>
        </figure>
    </section>

    <ul class="order-wrap">
        <li {if $cat_id == ''}class="active"{/if} onclick="window.location='{:U('mall/index/index')}'">热销</li>
        {foreach name="categoryList" item="category"}
        <li {if $cat_id == $category.id}class="active"{/if} onclick="window.location='{:U('mall/index/index', array('cat_id'=>$category.id))}'">{$category.name}</li>
        {/foreach}
    </ul>

    <ul class="content-list">
        <li class="item hot">
            <ul>
                {foreach name="list" item="goods"}
                <li onclick="window.location='{:U('mall/goods/goodsInfo', array('id'=>$goods.goods_id))}'">
                    <div class="poster-wrapper">
                        <img src="{$goods.original_img}" alt="">
                    </div>
                    <p>{$goods.goods_name}</p>
                    <div class="price-wrap">
                         <div>￥<span class="price">{$goods.shop_price}</span> <del>￥ <span class="before-price">{$goods.market_price}</span> </del> </div>
                        <!-- <i class="icon-addpay"></i> -->
                    </div>
                </li>
                {/foreach}
            </ul>
        </li>
    </ul>
    {include file="public/footer_nav"}

    <script src="__STATIC__/js/jquery.js"></script>
    <script src="__STATIC__/js/poster.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#full_feature').swipeslider();
            $('#content_slider').swipeslider({
                transitionDuration: 600,
                autoPlayTimeout: 10000,
                sliderHeight: '300px'
            });
            $('#responsiveness').swipeslider();
            $('#customizability').swipeslider({
                transitionDuration: 1500,
                autoPlayTimeout: 4000,
                timingFunction: 'cubic-bezier(0.38, 0.96, 0.7, 0.07)',
                sliderHeight: '30%'
            });
        });
    </script>
</body>
</html>