<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商城首页</title>
    <link rel="stylesheet" href="__STATIC__/css/main.css">
    <link rel="stylesheet" href="__STATIC__/css/common.css">
</head>
<body>

    <div class="poster-wrapper">
        <img src="__STATIC__/img/cat1.jpg" alt="">
    </div>

    <ul class="order-wrap">
        <li class="active">热销商品</li>
        <li>热销商品</li>
        <li>蔬菜</li>
        <li>母婴用品</li>
    </ul>

    <ul class="content-list">
        <li class="item hot">
            <ul>
                {foreach name="list" item="goods"}
                <li>
                    <div class="poster-wrapper">
                        <a href="{:U('mall/goods/goodsInfo', array('id'=>$goods.goods_id))}"><img src="{$goods.original_img}" alt=""></a>
                    </div>
                    <p> <a href="{:U('mall/goods/goodsInfo', array('id'=>$goods.goods_id))}">{$goods.goods_name}</a></p>
                    <div class="price-wrap">
                         <a href="{:U('mall/goods/goodsInfo', array('id'=>$goods.goods_id))}"><div>￥<span class="price">{$goods.shop_price}</span> <del>￥ <span class="before-price">{$goods.market_price}</span> </del> </div></a>
                        <!-- <i class="icon-addpay"></i> -->
                    </div>
                </li>
                {/foreach}
            </ul>
        </li>
    </ul>
    {include file="public/footer_nav"}

</body>
</html>