<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商城首页</title>
    <script>
        (function (designWidth, maxWidth) {
            var doc = document,
                win = window;
            var docEl = doc.documentElement;
            var metaEl,
                metaElCon;
            var styleText,
                remStyle = document.createElement("style");
            var tid;

            function refreshRem() {
                // var width = parseInt(window.screen.width); // uc有bug
                var width = docEl.getBoundingClientRect().width;
                if (!maxWidth) {
                    maxWidth = 540;
                };
                if (width > maxWidth) { // 淘宝做法：限制在540的屏幕下，这样100%就跟10rem不一样了
                    width = maxWidth;
                }
                var rem = width * 100 / designWidth;
                // var rem = width / 10; // 如果要兼容vw的话分成10份 淘宝做法
                //docEl.style.fontSize = rem + "px"; //旧的做法，在uc浏览器下面会有切换横竖屏时定义了font-size的标签不起作用的bug
                remStyle.innerHTML = 'html{font-size:' + rem + 'px;}';
            }

            // 设置 viewport ，有的话修改 没有的话设置
            metaEl = doc.querySelector('meta[name="viewport"]');
            // 20171219修改：增加 viewport-fit=cover ，用于适配iphoneX
            metaElCon = "width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no,viewport-fit=cover";
            if (metaEl) {
                metaEl.setAttribute("content", metaElCon);
            } else {
                metaEl = doc.createElement("meta");
                metaEl.setAttribute("name", "viewport");
                metaEl.setAttribute("content", metaElCon);
                if (docEl.firstElementChild) {
                    docEl.firstElementChild.appendChild(metaEl);
                } else {
                    var wrap = doc.createElement("div");
                    wrap.appendChild(metaEl);
                    doc.write(wrap.innerHTML);
                    wrap = null;
                }
            }

            //要等 wiewport 设置好后才能执行 refreshRem，不然 refreshRem 会执行2次；
            refreshRem();

            if (docEl.firstElementChild) {
                docEl.firstElementChild.appendChild(remStyle);
            } else {
                var wrap = doc.createElement("div");
                wrap.appendChild(remStyle);
                doc.write(wrap.innerHTML);
                wrap = null;
            }

            win.addEventListener("resize", function () {
                clearTimeout(tid); //防止执行两次
                tid = setTimeout(refreshRem, 300);
            }, false);

            win.addEventListener("pageshow", function (e) {
                if (e.persisted) { // 浏览器后退的时候重新计算
                    clearTimeout(tid);
                    tid = setTimeout(refreshRem, 300);
                }
            }, false);

            if (doc.readyState === "complete") {
                doc.body.style.fontSize = "16px";
            } else {
                doc.addEventListener("DOMContentLoaded", function (e) {
                    doc.body.style.fontSize = "16px";
                }, false);
            }
        })(750, 750);
    </script>
    <link rel="stylesheet" href="__STATIC__/css/main.css?v=1.0">
    <link rel="stylesheet" href="__STATIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="/public/plugins/mui/css/mui.css">
</head>

<body>
    <section>
        <figure id="full_feature" class="swipslider">
            <ul class="sw-slides">
                {foreach name="bannerList" item="item"}
                <li class="sw-slide">
                    <a href="{if condition=" $item.ad_link !='' "}{$item.ad_link}{else/}javascript:;{/if}">
                        <img src="{$item.ad_code}" alt="">
                    </a>
                </li>
                {/foreach}
            </ul>
        </figure>
    </section>

    <ul class="order-wrap">
        <li {if $cat_id=='' }class="active" {/if} onclick="window.location='{:U('mall/index/index')}'">热销</li>
        {foreach name="categoryList" item="category"}
        <li {if $cat_id==$category.id}class="active" {/if} onclick="window.location='{:U('mall/index/index', array('cat_id'=>$category.id))}'">{$category.name}</li>
        {/foreach}
    </ul>
    <div class="content-wrap" style="position: relative; height: 87%;  overflow-y: scroll;">
        <ul class="content-list">
            <li class="item hot">
                <ul class="listBox">
                    {foreach name="list" item="goods"}
                    <li onclick="window.location='{:U('mall/goods/goodsInfo', array('id'=>$goods.goods_id))}'">
                        <div class="poster-wrapper">
                            <img src="{$goods.original_img}" alt="">
                        </div>
                        <p>{$goods.goods_name}</p>
                        <div class="price-wrap">
                            <div>￥<span class="price">{$goods.shop_price}</span> <del>￥ <span class="before-price">{$goods.market_price}</span>
                                </del> </div>
                            <!-- <i class="icon-addpay"></i> -->
                        </div>
                    </li>
                    {/foreach}
                </ul>
            </li>
        </ul>
        
    </div>
    {include file="public/footer_nav"}

    <script src="__STATIC__/js/jquery.js"></script>
    <script src="__STATIC__/js/poster.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#full_feature').swipeslider();
            $('#content_slider').swipeslider({
                transitionDuration: 600,
                autoPlayTimeout: 10000,
                sliderHeight: '300px'
            });
            $('#responsiveness').swipeslider();
            $('#customizability').swipeslider({
                transitionDuration: 1500,
                autoPlayTimeout: 4000,
                timingFunction: 'cubic-bezier(0.38, 0.96, 0.7, 0.07)',
                sliderHeight: '30%'
            });
        });
    </script>
	
	<script src="/public/plugins/mui/js/mui.js"></script>
	<script type="text/javascript">
		var url = '{:U("mall/index/ajaxGetList")}';
		var cat_id='{$cat_id}';

        var page = 1;
        
		/*mui.init({
			pullRefresh : {
				container:".content-list",//下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
				down : {
					style:'circle',//必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
					color:'#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
					height:'50px',//可选,默认50px.下拉刷新控件的高度,
					range:'100px', //可选 默认100px,控件可下拉拖拽的范围
					offset:'0px', //可选 默认0px,下拉刷新控件的起始位置
					auto: false,//可选,默认false.首次加载自动上拉刷新一次
					callback :function(){
						mui.ajax(url,{
							data:{
								cat_id: cat_id,
							},
							dataType:'json',//服务器返回json格式数据
							type:'post',//HTTP请求类型
							timeout:10000,//超时时间设置为10秒；
							headers:{'Content-Type':'application/json'},	              
							success:function(data){
								//服务器返回响应，根据响应结果，分析是否登录成功；
								mui('.content-list').pullRefresh().endPulldown();
							},
							error:function(xhr,type,errorThrown){
								//异常处理；
								console.log(type);
								mui('.content-list').pullRefresh().endPulldown();
							}
						});
						
					} //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
				}
			}
		});*/

        mui.init({
            pullRefresh : {
                container:".content-wrap",//下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
                down : {
                    height:50,//可选,默认50.触发下拉刷新拖动距离,
                    auto: false,//可选,默认false.首次加载自动下拉刷新一次
                    contentdown : "下拉可以刷新",//可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
                    contentover : "释放立即刷新",//可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
                    contentrefresh : "正在刷新...",//可选，正在刷新状态时，下拉刷新控件上显示的标题内容
                    callback :function(){
                        page=1;
                        setTimeout(function(){
                            mui.ajax(url,{
                                data:{
                                    cat_id: cat_id,
                                },
                                dataType:'json',//服务器返回json格式数据
                                type:'post',//HTTP请求类型
                                timeout:10000,//超时时间设置为10秒；
                                // headers:{'Content-Type':'application/json'},                  
                                success:function(data){
                                    //服务器返回响应，根据响应结果，分析是否登录成功；
                                    var html = '';
                                     $.each(data.data, function(i){
                                        html += `<li goods_id="${this.goods_id}">
                                            <div class="poster-wrapper">
                                                <img src="${this.original_img}" alt="">
                                            </div>
                                            <p>${this.goods_name}</p>
                                            <div class="price-wrap">
                                                <div>￥<span class="price">${this.shop_price}</span> <del>￥ <span class="before-price">${this.market_price}</span>
                                                    </del> </div>
                                            </div>
                                        </li>`;
                                     })
                                     $('.listBox').html(html);
                                    mui('.content-wrap').pullRefresh().endPulldownToRefresh();
                                },
                                error:function(xhr,type,errorThrown){
                                    //异常处理；
                                    console.log(type);
                                    mui('.content-wrap').pullRefresh().endPulldownToRefresh();
                                }
                            });
                        }, 1500)
                        
                    } //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
                },
                up : {
                    height:50,//可选.默认50.触发上拉加载拖动距离
                    auto: false,//可选,默认false.自动上拉加载一次
                    contentrefresh : "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
                    contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
                    callback :function(){
                        setTimeout(function() {
                            page ++;
                            console.log(page)
                            mui.ajax(url,{
                                data:{
                                    cat_id: cat_id,
                                    page: page,
                                },
                                dataType:'json',//服务器返回json格式数据
                                type:'post',//HTTP请求类型
                                timeout:10000,//超时时间设置为10秒；
                                // headers:{'Content-Type':'application/json'},                  
                                success:function(data){

                                    //服务器返回响应，根据响应结果，分析是否登录成功；
                                    var html = '';
                                     $.each(data.data, function(i){
                                        html += `<li goods_id="${this.goods_id}">
                                            <div class="poster-wrapper">
                                                <img src="${this.original_img}" alt="">
                                            </div>
                                            <p>${this.goods_name}</p>
                                            <div class="price-wrap">
                                                <div>￥<span class="price">${this.shop_price}</span> <del>￥ <span class="before-price">${this.market_price}</span>
                                                    </del> </div>
                                            </div>
                                        </li>`;
                                     })
                                     $('.listBox').append(html);
                                     console.log(data.data.length);
                                    if(data.data.length > 0){
                                        mui('.content-wrap').pullRefresh().endPullupToRefresh(false);
                                    } else {
                                        mui('.content-wrap').pullRefresh().endPullupToRefresh(true);
                                    }
                                },
                                error:function(xhr,type,errorThrown){
                                    //异常处理；
                                    console.log(type);
                                    mui('.content-wrap').pullRefresh().endPulldownToRefresh(true);
                                }
                            });

                        }, 1500)
                    } //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
                }
            }
        });

        mui('.listBox').on('tap', 'li', function(){
            var goods_id = $(this).attr('goods_id');
            window.location="/mall/goods/goodsInfo/id/"+goods_id
        })

	</script>
</body>

</html>