<!-- 视频播放页 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>课程播放</title>
    <script src="__STATIC__/js/rem.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/video_play.css">
</head>
<body>
    <div class="video-play-wrapper">
        <video class="video" src="__STATIC__/ceshi_video.mp4" poster="__STATIC__/image/course broadcast.jpg"></video>
        <div class="video-play-btn">
            <img class="video-play-play" src="__STATIC__/image/course broadcast_start@2x.png" alt="播放">
        </div>
    </div>
    <div class="hint-wrap">
        {if condition="!empty($lastplay)"}
        <div class="hint-bg">
            <img src="__STATIC__/image/course broadcast_record@2x.png" alt="">
            <p>上次看到：<span>{$lastplay.title} {$lastplay.current_time} </span></p>
        </div>
        <button class="continue">继续学</button>
        {/if}
    </div>
    <div class="chapter">
        <div class="chapter-title">
            <p>课程集数:</p>
            <span>已购买</span>
        </div>
        <div class="chapter-part">
            <ul class="chapter-part-title">
            	{for start="1" end="$pageCount+1"}
                <li class="item-btn {$i == 1 ? 'active' : ''}" page="{$i}"><?php echo ($i-1)*$limit+1; ?>-{$i*$limit}</li>
                {/for}
            </ul>
            <div class="content-wrap">
                {for start="1" end="$pageCount+1" name="page"}
                    <?php $episodeList = 'episode_page_'.$page; ?>
                <ul class="item {$page == 1 ? 'active' : ''}">
                	{foreach name="$episodeList" item="item"}
                    <li><a href="#">{$item.number}</a></li>
                	{/foreach}
                </ul>
                {/if}
            </div>
        </div>
    </div>
	<input type="hidden" name="lesson_id" value="{$lesson_id}">
	<input type="hidden" name="order_id" value="{$order_id}">
    <script src="__STATIC__/js/video.js"></script>
    <script src="__STATIC__/js/jquery.js"></script>

</body>
</html>