<!--  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>课程详情</title>
    <script src="__STATIC__/js/rem.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/course_info.css">
</head>
<body>
  <div class="wxpay">微信支付</div>

  

<script src="__STATIC__/js/jquery.js"></script>
<script src="/public/js/layer/layer.js"></script>
<script type="text/javascript">
    var order_sn = "{$order_sn}";
    var openid = "{$openid}";
    var jsApiParameters = {};
    $(function(){
        $('.wxpay').click(function(){
            $.ajax({
                url: "{:url('mobile/pay/unifiedOrder')}",
                type: 'post',
                dateType: 'json',
                data: {order_sn:order_sn, openid:openid},
                success:function(data){
                    jsApiParameters = data;
                    callpay();
                }
            })
        })
    })

    function jsApiCall()
    {
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest',
            jsApiParameters,
            function(res){
                if(res.err_msg == "get_brand_wcpay_request:ok" ){
                  aler('支付 成功');
                } else {
                    alert('失败');
                }
            }
        );
    }

    function callpay()
    {
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }else{
            jsApiCall();
        }
    }
</script>
</body>
</html>