
<div class="footer-wrap">
    <ul class="footer">
        <li class="active item" onclick="window.location='{:U('mall/index/index')}'">
            <i class="footer_icon shouye shouye-active"></i>
            <span>首页</span>
        </li>
        <li class="item"  onclick="window.location='{:U('mall/cart/index')}'">
            <i class="footer_icon gouwu"></i>
            <span>购物车</span>
        </li>
        <li class="item"  onclick="window.location='{:U('mall/user/index')}'">
            <i class="footer_icon mine"></i>
            <span>我的</span>
        </li>
    </ul>
</div>