<!-- 个人信息 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人信息</title>
    <script src="__STATIC__/js/rem.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/public.css">
    <link rel="stylesheet" href="__STATIC__/css/mine.css">
    <style>
        body,html {
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    
    <ul class="user-info">
        <li>
            <span class="title">头像</span>
            <img class="head_pic" src="{$user.head_pic}" alt="">
            <form id="headPicForm" action="{:url('mobile/user/changeHeadPic')}" method="post" enctype="multipart/form-data" style="display: none;">
                <input type="file" name="file">
            </form>
        </li>
        <li>
            <span class="title">姓名</span>
            <span class="user_name_btn">{$user.fullname ? $user.fullname : '请输入姓名'}</span>
        </li>
        <li>
            <span class="title">手机号</span>
            <span class="user_tell_number">{$user.mobile ? $user.mobile : '请输入手机号'}</span>
        </li>
        <li>
            <span class="title">身份证号</span>
            <span class="user_code_click">{$user.mobile ? $user.mobile : '请输入身份证号'}</span>
        </li>
        <div class="tanchuang-wrap fullname" style="display:none">
            <div class="tanchuang">
                <input class="user_name_text" type="text" name="fullname" value="" placeholder="请输入姓名">
                <button class="over fullname_btn">完成</button>
            </div>
        </div>
        <div class="tanchuang-wrap mobile" style="display:none">
            <div class="tanchuang">
                <input class="tell_number" type="text" value="" placeholder="请输手机号">
                <div class="code">
                    <input class="tell_code" type="text" value="" placeholder="请输入验证码">
                    <span>获取验证码</span>
                </div>
                <button class="over mobile_btn">完成</button>
            </div>
        </div>
        <div class="tanchuang-wrap ID_number" style="display:none">
            <div class="tanchuang">
                <input class="user_code" type="text" name="ID_number" value="" placeholder="请输入身份证号">
                <button class="over ID_number_btn">完成</button>
            </div>
        </div>
    </ul>


    <script src="__STATIC__/js/jquery.js"></script>
    <script src="/public/js/layer/layer.js"></script>
    <script src="/public/js/jquery.form.js"></script>
    <script type="text/javascript">
        <!--头像上传 -->
        $('.head_pic').click(function(){
            $('input[name=file]').click()
        })

        $('input[name=file]').change(function(){

          layer.load(1);
          $('#headPicForm').ajaxSubmit({
              dataType: 'json',
              success:function(data){

                  layer.closeAll();
                  if(data.code==200){
                      $('.head_pic').attr('src', data.data.head_pic);
                  } else {
                      layer.msg(data.msg);
                  }

              },
              error:function(){
                  layer.closeAll();
                  layer.msg('服务器错误');
              }
          })
      })

        $('.user_name_btn').click(function(){
            $('.fullname').show();
        })
        $('.user_tell_number').click(function(){
            $('.mobile').show();
        })
        $('.user_code_click').click(function(){
            $('.ID_number').show();
        })
    </script>
</body>
</html>