<!-- 我的视频 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的视频</title>
    <script src="__STATIC__/js/rem.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/video.css">
</head>
<body>
    <div class="wrapper">
        <ul>
            <li>
                <div class="poster">
                    <img src="__STATIC__/image/my course1.jpg" alt="poster">
                </div>
                <div class="right">
                    <div class="title">职业月嫂的成长宝典</div>
                    <div class="price price-symbol ">
                        ￥<div class="price price-content">3999</div>
                    </div>
                    <div class="right-pay-wrap">
                        <div class="pay">
                            <button class="pay-btn">再次购买</button>
                        </div>
                        <div class="time">2018.12.26</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <script src="__STATIC__/js/jquery.js"></script>
    <script src="__STATIC__/js/mylesson.js"></script>
</body>
</html>