/* footer */
.footer-wrap {
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.footer-wrap .footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 4px 0;
    box-sizing: border-box;
    background: #fff;
}
.footer-wrap .footer .active span {
    color: rgb(144, 200, 228);
}
.footer-wrap .footer li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-wrap .footer .footer_icon {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    /* border: 1px solid red; */
    background-size: contain;
}
.footer-wrap .footer .footer_icon_user {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: contain;

}
.footer-wrap .footer .shouye {
    background-image: url('../img/1362a1a4810eba0495cb77c5da50cc4.png');
}
.footer-wrap .footer .shouye-active {
    background-image: url('../img/d0b8f588dc1aea05c5ed8a2ac90396f.png');
}
.footer-wrap .footer .gouwu {
    background-image: url('../img/7847db4e4b4e90ed7415bf7b356c2ba.png');
}
.footer-wrap .footer .gouwu-active {
    background-image: url('../img/97d8375398fb58cd40a000e36a3c23b.png');
}
.footer-wrap .footer .mine {
    background-image: url('../img/3f9061586ab1ece7f562e5dff6c9e29.png');
}
.footer-wrap .footer .mine-active {
    background-image: url('../img/0a5e4d77a7e11aac81d5e27a16918c1.png');
}
.footer-wrap span {
    font-size: 0.7rem;
}

/* 轮播图 */
        
#full_feature {
    height: 1rem;
}

.swipslider {
    position: relative;
    overflow: hidden;
    display: block;
    padding-top: 40%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.swipslider .sw-slides {
    display: block;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    font-size: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: absolute;
    bottom: 0;
}

.swipslider .sw-slide a {
    width: 100%;
    height: 100%;
    margin: auto;
    display: inline-block;
    position: relative;
}

.swipslider .sw-slide {
    width: 100%;
    height: 100%;
    margin: auto;
    display: inline-block;
    position: relative;
}

.swipslider .sw-slide a img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.swipslider .sw-slide .sw-content {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    font-size: 0.14rem;
}

.sw-next-prev {
    font-family: "Courier New", Courier, monospace;
    height: 0.5rem;
    width: 0.5rem;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    line-height: 0.5rem;
    font-size: 0.3rem;
    font-weight: bolder;
    color: rgba(160, 160, 160, 0.53);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    text-decoration: none;
    transition: all .2s ease-out;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sw-next-prev:hover {
    background-color: rgba(255, 255, 255, 0.74);
}

.sw-next-prev:active {
    background-color: rgba(255, 255, 255, 0.5);
}

.sw-prev {
    left: 2%;
}

.sw-prev::after {
    content: '<';
}

.sw-next {
    right: 2%;
}

.sw-next::after {
    content: '>';
}

.sw-bullet {
    position: absolute;
    bottom: 0.1rem;
    list-style: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.sw-bullet li {
    width: 0.2rem;
    height: 0.2rem;
    background-color: rgba(160, 160, 160, 0.53);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin: 0 0.1rem;
    transition: all .2s ease-out;
}

.sw-bullet li:hover {
    background-color: rgba(255, 255, 255, 0.74);
}

.sw-bullet li.active {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0.02rem rgba(160, 160, 160, 0.53);
}

.sw-bullet li:not(:last-child) {
    margin-right: 0.05rem;
}