<!-- 首页 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>家政培训</title>
    <script src="__STATIC__/js/rem.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/index.css">
</head>
<body>
    <!-- 首页轮播图 -->
    <div class="poster">
        <ul class="img-box">
            {foreach name="bannerList" item="item"}
            <li><a href="{if condition="$item.ad_link != ''"}{$item.ad_link}{else/}javascript:;{/if}"><img src="{$item.ad_code}" alt=""></a></li>
            {/foreach} 
            <li><a href="{if condition="$bannerList[0].ad_link != ''"}{$bannerList[0].ad_link}{else/}javascript:;{/if}"><img src="{$bannerList[0]['ad_code']}" alt=""></a></li>
        </ul>
        <div class="order">
            <ul>
                {for start="0" end="count($bannerList)"}
                <li class="item {$i == 0 ? 'active' : ''}"></li>
                {/for}
            </ul>
        </div>
    </div>
    <!-- 轮播图结束 -->
    <!-- 常规课程 -->
    <div class="course-convention">
        <div class="course-title">
            <div class="course-icon">
                <img src="__STATIC__/image/home_common coueses@2x.png" alt="常规课程">
                <h4>常规课程</h4>
            </div>
            <div class="more">
                <a href="#">查看全部</a>
                <img src="__STATIC__/image/more_btn.png" alt="更多">
            </div>
        </div>
        <div class="course-content">
            {foreach name="lessonList" item="item"}
            <div>
                <a href="{:U('lesson/detail', array('id'=>$item.id))}" class="course-poster">
                    <img src="{$item.thumb}" alt="">
                </a>
                <div class="course-title">
                    <a href="{:U('lesson/detail', array('id'=>$item.id))}">{$item.title}</a>
                </div>
                <a href="#" class="course-like">
                    <img src="__STATIC__/image/home_collection_pre@2x.png" alt="">
                </a>
            </div>
            {/foreach}
        </div>
    </div>
    <!-- 常规课程结束 -->
    <!-- 推荐课程 -->
    <div class="course-remommend">
        <div class="course-title">
            <div class="course-icon">
                <img src="__STATIC__/image/home_recommended courses@2x.png" alt="推荐课程">
                <h4>推荐课程</h4>
            </div>
            <div class="more">
                <a href="#">查看全部</a>
                <img src="__STATIC__/image/more_btn.png" alt="更多">
            </div>
        </div>
        <ul class="course-remommend-content">
            <li>
                <a href="#">
                    <img src="__STATIC__/image/course3.jpg" alt="">
                    <p>婴儿推拿</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="__STATIC__/image/course4.jpg" alt="">
                    <p>家政技能</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="__STATIC__/image/course5.jpg" alt="">
                    <p>催乳师</p>
                </a>
            </li>
        </ul>
    </div>
    <!-- 推荐课程结束 -->
    <!-- 底部导航 -->
    <div class="nav">
        <ul>
            <li>
                <a href="#">
                    <img class="active" src="__STATIC__/image/tab_home@2x.png" alt="首页按钮">
                    <p class="active">首页</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="__STATIC__/image/tab_book_pre@2x.png" alt="首页按钮">
                    <p>预约</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="__STATIC__/image/tab_shop_pre@2x.png" alt="首页按钮">
                    <p>商场</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="__STATIC__/image/tab_my_pre@2x.png" alt="首页按钮">
                    <p>我的</p>
                </a>
            </li>
        </ul>
    </div>
    
    



    <script src="__STATIC__/js/jquery.js"></script>
    <script src="__STATIC__/js/poster.js"></script>
    

    
</body>
</html>