<div class="nav">
    <ul>
        <li class="index">
            <a href="/">
                <img class="active" src="__STATIC__/image/tab_home@2x.png" alt="首页按钮">
                <p class="active">首页</p>
            </a>
        </li>
        <li>
            <a href="{:url('mobile/aunt/index')}">
                <img src="__STATIC__/image/tab_book_pre@2x.png" alt="首页按钮">
                <p>预约</p>
            </a>
        </li>
        <!-- <li>
            <a href="#">
                <img src="__STATIC__/image/tab_shop_pre@2x.png" alt="首页按钮">
                <p>商场</p>
            </a>
        </li> -->
        <li class="mine">
            <a href="{:url('mobile/user/index')}">
                <img src="__STATIC__/image/tab_my_pre@2x.png" alt="首页按钮">
                <p>我的</p>
            </a>
        </li>
    </ul>
</div>
<script src="__STATIC__/js/jquery.js"></script>
<script>
    // console.log("123")
    // $(".index").click(function () {
        
    // console.log("123")
    //     $(".index img").get(0).src = "__STATIC__/image/tab_home@2x.png";
    //     $(".index p").css("color","#7ABEDF");
    //     $(".mine img").get(0).src = "__STATIC__/image/tab_my_pre@2x.png";
    //     $(".index p").css("color","#8B8B8B");
    // })
    
    // console.log("123")
    // $(".mine").click(function () {
    //     console.log("123")
    //     $(".index img").get(0).src = "__STATIC__/image/tab_home@2x.png";
    //     $(".index p").css("color","#7ABEDF");
    //     $(".index img").get(0).src = "__STATIC__/image/tab_home@2x.png";
    //     $(".index p").css("color","#8B8B8B");
    // })
    $(".nav").delegate(".index", "click", function () {
        console.log("123")
        $(".index img").get(0).src = "__STATIC__/image/tab_home@2x.png";
        $(".index p").css("color","#7ABEDF");
        $(".mine img").get(0).src = "__STATIC__/image/tab_my_pre@2x.png";
        $(".index p").css("color","#8B8B8B");
    })
    $(".nav").delegate(".mine", "click", function () {
        $(".index img").get(0).src = "__STATIC__/image/tab_home@2x.png";
        $(".index p").css("color","#7ABEDF");
        $(".mine img").get(0).src = "__STATIC__/image/tab_my_pre@2x.png";
        $(".index p").css("color","#8B8B8B");
    })




</script>