<div class="nav">
    <ul>
        <li class="index active">
            <a href="/">
                <!-- <img {if condition="CONTROLLER_NAME eq 'Index'"}class="active"{/if} src="__STATIC__/image/tab_home@2x.png" alt="首页按钮"> -->
                <span ></span>
                <p>首页</p>
            </a>
        </li>
        <li class="mine">
            <a href="{:url('mobile/user/index')}">
                <!-- <img {if condition="CONTROLLER_NAME eq 'User'"}class="active"{/if} src="__STATIC__/image/tab_my_pre@2x.png" alt="我的按钮"> -->
                <span></span>
                <p>我的</p>
            </a>
        </li>
    </ul>
</div>
