<div class="nav">
    <ul>
        <li>
            <a href="#">
                <img class="active" src="__STATIC__/image/tab_home@2x.png" alt="首页按钮">
                <p class="active">首页</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="__STATIC__/image/tab_book_pre@2x.png" alt="首页按钮">
                <p>预约</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="__STATIC__/image/tab_shop_pre@2x.png" alt="首页按钮">
                <p>商场</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="__STATIC__/image/tab_my_pre@2x.png" alt="首页按钮">
                <p>我的</p>
            </a>
        </li>
    </ul>
</div>